@import './variables';
@import './mixins';

nav {
    .banner {
        margin-left: 90px;
        position: relative;
        height: 100%;
        overflow: hidden;
        
        &__info {
            margin-left: 7%;
            position: absolute;
            top: 40%;
            left: 2.5%;
            max-width: 90%;
            transform: translateY(-40%);
            
            h4 {
                font-size: 20px;
                color: #333;
            }

            &-name {
                font-size: 50px;
                font-weight: 600;
            }

            h3 {
                font-size: 25px;
                font-weight: 500;
            }

            &-desc {
                padding-top: 20px;
                font-size: 17px;
                font-weight: 500;
                color: #444;
                letter-spacing: 1px;
                
            }
            div {
                margin-top: 20px;
                a {
                    font-size: 15px;
                    font-weight: 500;
                    text-transform: uppercase;
                    display: inline-block;
                    border: 2px solid transparent;
                    padding: 15px 25px;
                    margin-right: 10px;
                    text-align: center;
                }
                &.banner__info-btn .btn-bar__theme1 {
                    background-color: $main-color;
                    color: $white-color;
                    border-color: $main-color;
                    text-decoration: none;
                }
                &.banner__info-btn .btn-bar__theme2 {
                    background-color: transparent;
                    color: $main-color;
                    border-color: $main-color;
                    text-decoration: none;
                }
            }

        }
        
        &__img {
            
            width: 100%;
            height: 90%;
            object-fit: cover;
            
        }

        & .btn-down {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 45%;
            top: 90%;
            display: inline-block;
            color: $black-color;
            background: $main-color;
            border-radius: 50%;
            animation: down 1s linear infinite;
            -webkit-animation: down 1s linear infinite;

            & a span {
                border-top: 1px solid #ffffff;
                border-right: 1px solid #ffffff;
                width: 10px;
                height: 10px;
                position: absolute;
                top: -6px;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
            }
        }
    }
}