@import './variables';
@import './mixins';

footer {
    padding: 10px 0 10px;
    background-color: $black-color;
    color: rgba(99, 110, 114,1.0);

    .content{        
        padding-left: 7%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 70px;
        .social__media{
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            i{
                padding: 0 15px;
            }
        }
        .copyright p{
            font-size: 15px;
            text-align: center;
            padding-top: 20px;
            font-weight: bold;
        } 
    }
    hr{
        
        height: 1px;
    }
      
}