@import './variables';
@import './mixins';

main {

    .services{
        margin: 30px 0;
        padding-left: 7%;
        padding-bottom: 30px;
        background-color: $bg-color;
    
        &__title {
            
            h3 {
                font-weight: 700;
                font-size: 35px;
                margin: 60px 0 10px 35px;
                position: relative; 
                display: inline-block;
                vertical-align: top;
                z-index: 1;
                padding: 0 0 10px;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                    background: $main-color;
                    width: 60px;
                    height: 1px;
                    z-index: -1;
                    padding: 0 0 2px;
                }
            }
    
            &-desc {
                margin: 0;
                font-size: 16px;
                letter-spacing: 2px;
                margin-left: 35px;
                font-weight: 500;
                color: #444;
            }
        }

        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
            margin: 50px 80px 50px 35px;

            
            .services__box {
                padding: 40px 30px;
                background: $white-color;
                border: 1px solid #eee;
                border-radius: 5px;
                position: relative;
                box-shadow: 0 20px 20px rgba(198, 229, 240, 0.5);
                top: 0;
                -webkit-transition: ease all 0.35s;
                transition: ease all 0.35s;

                &-icon {
                    width: 80px;
                    height: 80px;
                    line-height: 80px;
                    text-align: center;
                    border-radius: 50%;
                    border: 2px dotted $main-color;
                    color: $main-color;
                    font-size: 32px;
                    margin-bottom: 22px;
                    font-family: 'et-line';
                    
                }

                &-body {

                    h4 {
                        font-size: 20px;
                        font-weight: bold;
                        padding-bottom: 15px;
                    }
                    p{
                        font-size: 16px;
                        color: #555;
                    }
                    
                }

                &:hover{
                    background-color: $main-color;
                    color: $white-color;
                    .services__box-icon{
                        color: $white-color;
                        border: 2px dotted $white-color;
                    }
                    p{
                        color: #eee;
                    }
                    
                }
               
            }
        }
    }
}